<div class="bg-black h-[450px] flex justify-center">
  <div class="text-white mt-20 flex flex-col items-center">
    <p class="text-4xl">Hello! Welcome to RocketProducts.</p>
    <p class="text-2xl">
      Here you will find the best products to add to your catalog.
    </p>
  </div>
</div>
<div class="bg-gray-100 flex justify-center relative">
  <div
    class="w-11/12 flex flex-col justify-center bg-white relative top-[-140px] rounded-lg p-8 shadow-2xl gap-6"
  >
    <div class="flex flex-col gap-4">
      <p class="text-4xl font-semibold">Product Search</p>
      <div class="bg-black rounded-2xl p-2">
        <form class="flex gap-4" [formGroup]="filterForm">
          <label
            class="flex flex-col px-2 py-1 rounded-md w-80 gap-1 text-base bg-white"
          >
            <span>Search Product</span>
            <input
              class="outline-none"
              type="text"
              placeholder="Escribe el nombre del producto"
              formControlName="name"
            />
          </label>
          <label
            class="flex flex-col px-2 py-1 w-80 rounded-md text-base bg-white"
            for="type"
          >
            <span>Type of product</span>
            <select
              class="outline-none"
              name="type"
              id="type"
              formControlName="type"
            >
              <option value="">None</option>
              <option [value]="type" *ngFor="let type of typeProduct">
                {{ type | titlecase }}
              </option>
            </select>
          </label>
        </form>
      </div>
    </div>
    <div class="grid grid-auto-fit-xl justify-items-center gap-4">
      <app-product
        *ngFor="let product of products"
        class=""
        [product]="product"
        (action)="executeAction($event, product)"
      ></app-product>
    </div>
    <div
      class="flex justify-center gap-2"
      *ngIf="pagination.totalPages ?? 1 > 1"
    >
      <button
        class="flex items-center"
        (click)="increaseOrDecreasePagination(-1)"
        *ngIf="pagination.page > 1"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="chevron_left"
        ></mat-icon>
      </button>
      <button
        *ngFor="
          let item of [].constructor(pagination.totalPages);
          let i = index
        "
        (click)="selectPage(i + 1)"
        class="bg-black w-10 h-10 rounded-full text-white flex items-center justify-center text-lg"
      >
        {{ i + 1 }}
      </button>
      <button
        class="flex items-center"
        (click)="increaseOrDecreasePagination(1)"
        *ngIf="pagination.page < (pagination.totalPages ?? 1)"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="chevron_right"
        ></mat-icon>
      </button>
    </div>
  </div>
</div>
